FORGE_ADDR=:8080
FORGE_DB_PATH=/var/lib/forge/forge.db
FORGE_WORK_DIR=/var/lib/forge/work
FORGE_BASE_DOMAIN={{ forge_base_domain }}
FORGE_CADDY_ADMIN_URL=http://127.0.0.1:2019
FORGE_APP_PORT_START=20000
FORGE_APP_PORT_END=39999
FORGE_MASTER_KEY={{ vault_forge_master_key }}
FORGE_AGENT_TOKEN={{ vault_forge_agent_token }}
FORGE_ADMIN_TOKEN={{ vault_forge_admin_token }}
FORGE_GITHUB_WEBHOOK_SECRET={{ vault_forge_github_webhook_secret }}
